<!DOCTYPE html>
<html>
  <head>
    <title>GLAUCOMA DETECTOR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>GLAUCOMA DETECTOR</h1>
    <form method="POST" action="/upload-image" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </form>
    <br />
    {% if processed_image %}
    <img
      src="data:image/jpeg;base64,{{ processed_image }}"
      alt="Processed Image"
    />
    {% endif %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
