<!DOCTYPE html>
<html>
  <head>
    <title>GLAUCOMA DETECTOR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>GLAUCOMA DETECTOR</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
      <input
        type="file"
        name="file"
        id="upload-input"
        accept="image/*"
        onchange="previewImage()"
      />
      <button type="submit" id="submit-btn">Analyze Image</button>
    </form>
    <br />
    <div id="image-container">
      <h2>Uploaded Image:</h2>
      <img id="preview" alt="Preview" />
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
